<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
        <title>Artist and his Albums</title>
        <link rel="stylesheet" href="/assets/css/personalcss.css">
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/profilepopup.css">
        <link rel="stylesheet" href="/assets/css/profilesidebar.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <script type="text/javascript"></script>
		<script>
                baseurl="http://localhost:3000/"
                function yourFunction(item){
                    var action_src = "http://localhost:3000/search/" + document.getElementsByName("searchText")[0].value;
                    item.href = action_src ;
                    return true;
                };
                $("#menu-toggle").click(function(e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");
                });


                //Function To Display Popup
                function div_show(item) {
                    var namediv=item.name; //addForm
                    document.getElementById(namediv).style.display = "block";
                    document.getElementById(namediv).style.zIndex = "1010";
                };

                //Function to Hide Popup
                function div_hide(item){
                    var namediv=item.name; //ex:addForm
                    document.getElementById(namediv).style.display = "none";
                    document.getElementById(namediv).style.zIndex = "1010";
                };

                /*function createAction(item) {
                    var length=  document.issueForm.issueCheck.length;
                    var first =true;
                    var urlaux = "http://localhost:3000/user/insert/" + document.auxiliar.playlistName.value;
                    item.href = urlaux;
                };

                function deleteAction(item) {
                    if(document.taskForm.taskRadio.length===undefined){
                        item.href="http://localhost:3000/user/delete/"+ encodeURI(document.getElementsByName("taskRadio").item(0).value);
                        return;
                    }
                    for (var i=0; i<document.taskForm.taskRadio.length; i++)  {
                        if (document.taskForm.taskRadio[i].checked)  {
                            var found_it = document.taskForm.taskRadio[i].value
                            item..href="http://localhost:3000/user/delete/"+encodeURI(found_it);
                            break;
                        }
                    }

                };*/
                function showSongs(item) {
                    var playlist = item.id;
                    var user = document.getElementById("username").name;
                    var xhttp;
                    if (window.XMLHttpRequest) {
                        xhttp = new XMLHttpRequest();
                        } else {
                        // code for IE6, IE5
                        xhttp = new ActiveXObject("Microsoft.XMLHTTP");
                    }
                    xhttp.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            document.getElementById("songsList").innerHTML =this.responseText;
                        }
                    };
                    xhttp.open("GET","/profile/"+playlist,true);
                    xhttp.send();
                    
                     
                };

                // Validating Empty Field
                function check_empty(item) {
                    var formparamone = ;
                    var formparatwo = document.getElementById("emailPopup").value;
                    if (document.getElementById("namePopup").value == "" ) {
                        alert("Fill All Fields !");
                    } else {
                        if(!(document.getElementById("emailPopup").value == "")){
                            alert("Form Submitted Successfully...");
                            var xhttp;
                            if (window.XMLHttpRequest) {
                                xhttp = new XMLHttpRequest();
                                } else {
                                // code for IE6, IE5
                                xhttp = new ActiveXObject("Microsoft.XMLHTTP");
                            }
                            xhttp.onreadystatechange = function() {
                                if (this.readyState == 4 && this.status == 200) {
                                    document.getElementById("playlistsList").innerHTML =this.responseText;
                                }
                            };
                            xhttp.open("GET","/profile/"+item.name+"?nomes=",true);
                            xhttp.send();
                        }
                    }   
                };

        </script>
	</head>
    <body>

	<nav class="navbar navbar-inverse profilenavbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Grupo11</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="aux"><a href="/">Home</a></li>
            </ul>
            <div class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" name="searchText" class="form-control" placeholder="Search" style="width:450px; text-align:right;">
                    <div class="input-group-btn">
                        <a href="" onclick="return yourFunction(this);">
                            <button class="btn btn-default" type="button">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="aux"><a id="username" name="{{id}}"><span class="glyphicon glyphicon-user"></span> Logged as {{id}}</a></li>
                <li class="aux"><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>


 <div id="wrapper">

         <!-- Sidebar -->
        <div class="navbar" id="sidebar-wrapper">
            <ul id="menu-group-1" class="sidebar-nav menu">
                <li class="sidebar-brand">
                    <a href="#">
                        <font size="3">
                            Profile:
                        </font>
                    </a>
                </li>
                <li>
                    <a href="#">&nbsp;&nbsp;&nbsp;Overview</a>
                </li>
                <li>
                    <a href="#">&nbsp;&nbsp;&nbsp;Playlist</a>
                </li>
                <li>
                    <a href="#">&nbsp;&nbsp;&nbsp;About</a>
                </li>
                <li>
                    <a href="#">&nbsp;&nbsp;&nbsp;Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div id="popupsDiv">
                <div id='addForm' style="display:none">
                <!-- Popup Div Starts Here -->
                    <div id="popupContact" style="text-align:center">
                    <!-- Contact Us Form -->
                        <form action="#" id="popupForm" method="post" name="form">
                            <img id="close" name="addForm" src="http://www.megaicons.net/static/img/icons_sizes/314/810/256/actions-dialog-close-icon.png" onclick ="div_hide(this); return false;">
                            <h2 id="popupH2">Create Playlist</h2>
                            <hr id="popupHR">
                            <input id="namePopup" name="name" placeholder="Playlist Name" type="text" >
                            <br><br><br>
                            <a href="check_empty(this); return false;" name="addForm" id="submitPopup">Create</a>

                        </form>
                    </div>
                <!-- Popup Div Ends Here -->
                </div>
                <div id="deleteForm" style="display:none">
                <!-- Popup Div Starts Here -->
                    <div id="popupContact" style="text-align:center">
                    <!-- Contact Us Form -->
                        <form action="#" id="popupForm" method="post" name="form">
                            <img id="close" name="deleteForm" src="http://www.megaicons.net/static/img/icons_sizes/314/810/256/actions-dialog-close-icon.png" onclick ="div_hide(this); return false;">
                            <h2 id="popupH2">Delete Playlist</h2>
                            <hr id="popupHR">
                            <input id="namePopup" name="name" placeholder="Playlist Name" type="text" >
                            <br><br><br>
                            <a href="check_empty(this); return false;" name="deleteForm" id="submitPopup">Delete</a>

                        </form>
                    </div>
                <!-- Popup Div Ends Here -->
                </div>
                <div id="renameForm" style="display:none">
                <!-- Popup Div Starts Here -->
                    <div id="popupContact" style="text-align:center">
                    <!-- Contact Us Form -->
                        <form action="#" id="popupForm" method="post" name="form">
                            <img id="close" name="renameForm" src="http://www.megaicons.net/static/img/icons_sizes/314/810/256/actions-dialog-close-icon.png" onclick ="div_hide(this); return false;">
                            <h2 id="popupH2">Rename Playlist</h2>
                            <hr id="popupHR">
                            <input id="namePopup" name="name" placeholder="Playlist old name" type="text" >
                            <input id="emailPopup" name="email" placeholder="Playlist new name" type="text">
                            <br><br><br>
                            <a href="check_empty(this); return false;" name="renameForm" id="submitPopup">Rename</a>

                        </form>
                    </div>
                <!-- Popup Div Ends Here -->
                </div>
                <div id="shareForm" style="display:none">
                <!-- Popup Div Starts Here -->
                    <div id="popupContact" style="text-align:center">
                    <!-- Contact Us Form -->
                        <form action="#" id="popupForm" method="post" name="form">
                            <img id="close" name="shareForm" src="http://www.megaicons.net/static/img/icons_sizes/314/810/256/actions-dialog-close-icon.png" onclick ="div_hide(this); return false;">
                            <h2 id="popupH2">Share Playlist</h2>
                            <hr id="popupHR">
                            <input id="namePopup" name="name" placeholder="User to share with" type="text" >
                            <input id="emailPopup" name="email" placeholder="Playlist name" type="text">
                            <br><br><br>
                            <a href="check_empty(this); return false;" name="shareForm" id="submitPopup">Share</a>

                        </form>
                    </div>
                <!-- Popup Div Ends Here -->
                </div>
                <div id="unshareForm" style="display:none">
                <!-- Popup Div Starts Here -->
                    <div id="popupContact" style="text-align:center">
                    <!-- Contact Us Form -->
                        <form action="#" id="popupForm" method="post" name="form">
                            <img id="close" name="unshareForm" src="http://www.megaicons.net/static/img/icons_sizes/314/810/256/actions-dialog-close-icon.png" onclick ="div_hide(this); return false;">
                            <h2 id="popupH2">Unshare Playlist</h2>
                            <hr id="popupHR">
                            <input id="namePopup" name="name" placeholder="User to Unshare" type="text" >
                            <input id="emailPopup" name="email" placeholder="Playlist name" type="text">
                            <br><br><br>
                            <a href="check_empty(this); return false;" name="unshareForm" id="submitPopup">Unshare</a>

                        </form>
                    </div>
                <!-- Popup Div Ends Here -->
                </div>
            </div>
            <div id="buttons">
                <h4 align="center">Tasks buttons (see faq below to see buttons actions)</h4>
                <div class="buttonDiv">
                    <a id="createButton">
                        <input type="button" value="Create" name="addForm" onclick="div_show(this); return false;" style="height:50px; width:100px" />
                    </a>

                    <a href="#" id="deleteButton">
                        <input type="button" value="Delete" name="deleteForm" onclick="div_show(this); return false;" style="height:50px; width:100px"/>
                    </a>
                    <a href="#" id="renameButton">
                        <input type="button" value="Rename" name="renameForm" onclick="div_show(this); return false;" style="height:50px; width:100px"/>
                    </a>
                    <a href="#" id="shareButton">
                        <input type="button" value="Share" name="shareForm" onclick="div_show(this); return false;" style="height:50px; width:100px"/>
                    </a>
                    <a href="#" id="unshareButton">
                        <input type="button" value="Unshare" name="unshareForm" onclick="div_show(this); return false;" style="height:50px; width:100px"/>
                    </a>
                    
                </div>
            </div>
            <div id="playlists" class="col-md-6 issuesDiv" >
                <h1 align="center">Playlists</h1>
                <br>
                    <div id="playlistsList">
                        <ul class="pre-scrollable nobullets" role="menu">
                            <form name="playlistForm">
                            {{#each playlists}}
                                <li>            
                                    <input name="taskRadio" onchange="showSongs(this); return false;"type="radio" id="{{_id}}" value="{{_id}}" />  {{_id}}
                                </li>
                            {{/each}}
                            </form>
                        </ul>
                    </div> 
            </div>
            <div id="songs" class="col-md-6 issuesDiv" >
                <h1 align="center">Songs</h1>
                <br>
                <div id="songsList">
                </div> 
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    </body>	
</html>