<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>Search Page</title>
		<link rel="stylesheet" href="/assets/css/personalcss.css">
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/jumbotron.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		    <script>
        baseurl="http://localhost:3000/"
        function buildURL(item, number)
        {
            if(number==1){
                item.href=baseurl+"login/"+encodeURIComponent(window.location.href);
            }
            else{
                item.href=baseurl+"signup/"+encodeURIComponent(window.location.href);
            }
            return true;
        }
        function yourFunction(item){
            var action_src = "http://localhost:3000/search/" + document.getElementsByName("searchText")[0].value;
            item.href = action_src ;
            return true;
        }
</script>
	</head>
    <body>
		    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Grupo11</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="aux"><a href="/">Home</a></li>
                <li class="aux"><a href="/profile">Profile</a></li>
            </ul>
            <div class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" name="searchText" class="form-control" placeholder="Search" style="width:450px; text-align:right;">
                    <div class="input-group-btn">
                        <a href="" onclick="return yourFunction(this);">
                            <button class="btn btn-default" type="button">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="aux"><a><span class="glyphicon glyphicon-user"></span> Logged as {{id}}</a></li>
                <li class="aux"><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>



		<h1 align="center"><b>Your search :</b> "{{searchID}}"</h1> 
        <div class="container well img-with-text" >
				<div>
                    <ul>
                    {{#each artists}}
                        <li>            
                            <div class="col-md-12">
                                <a href="/artists/{{id}}">
                                    <img src="{{url}}" alt="{{name}}" style="width:200px;height:200px;">
                                </a>								
                                <p><a href="/artists/{{id}}"> {{name}}</a></p>
                            </div >
                        </li>
                    {{/each}}
                    </ul> 
                </div>
                <div class="pagebuttons">
					<p class="previousButton"><a class="left" href="/search/{{searchID}}/previous" >previous</a></p>
					<p class="nextButton"><a class="right" href="/search/{{searchID}}/next" >next</a></p>
				</div>
		</div>
    </body>	
</html>